#control{
    padding: 15px;
    color: #3BC14A;
    background-color: #4D5057;
}
#imgLogo{
    width: 80%;
}
#line{
    height: 5px;
    background-color: #3BC14A;
}


#mapid {
    height: 87%;
    width: 100%;
}
#checkbox3{
    width: 550px;
}


.material-datepicker{
    left: 50% !important;
    margin-left: -4.5em !important;
}