#control{
    padding: 15px;
    color: #3BC14A;
    background-color: #4D5057;
}
#app{
}
#imgLogo{
    width: 80%;
}
#line{
    height: 5px;
    background-color: #3BC14A;
}

#mapid {
    height: 98%;
}

.dtp-btn-cancel{
    margin-right: 5px;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}