<html>
<head>
    <title>Bike-Vis</title>
    <link rel="icon" type="image/png" href="img/pedal.png"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="./css/bootstrap-material-datetimepicker.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--./BOOTSTRAP-->
    <script src="js/libs/vue.js"></script>

    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="js/libs/Leaflet.GoogleMutant.js"></script>
    <!---->
    <script src="js/libs/bootstrap-switch.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="./js/libs/bootstrap-material-datetimepicker.js"></script>
    <!--Date Picker-->
    <!-- 4D5057  4E6E5D  4DA167 3BC14A CFCFCF-->
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="row" id="control">
    <div id="app">
        <div class="col-md-2" >
            <center>
                <img id="imgLogo" src="img/pedal2.png">
            </center>
        </div>

        <div class="col-md-2">
            <label>Station:</label>
            <select class="form-control" @change="stationChanged" v-model="selectedStation">
                <option v-for="station in stations">{{station.name}}</option>
            </select>
        </div>

        <div class="col-md-2">
            <label>Origin / Destination:</label>
            <div class="clear-fix"></div>
            <input class="form-control" type='checkbox' name='checkboxOD'  @change="checkBoxChanged" checked/>
        </div>

        <div class="col-md-2">
            <label>Start Day:</label>
            <input id="startDay" class="form-control">
        </div>

        <div class="col-md-2">
            <label>End Day:</label>
            <input id="endDay" class="form-control">
        </div>

        <div class="col-md-1">
            <label>Start Hour:</label>
            <input id="startHour" class="form-control" value="00:00">
        </div>

        <div class="col-md-1">
            <label>End Hour:</label>
            <input id="endHour" class="form-control" value="23:59">
        </div>
    </div>
</div>

<div id="line" class="row"></div>
<div id="mapid" class="row"></div>
</body>
<footer>
    <script src="js/app.js"></script>
</footer>
</html>
